/* LANDING SECTION */
#data-form-section{
  /* size for each section*/
  /* take into account navbar in data-form section */
  /* min-height: calc(100vh - clamp(3.5rem, 6.5vw, 6.5rem)); */
  min-height: 100vh;

  /* position */
  position: relative;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* design */
  background-color: var(--primary-background);
  /* border: 2px solid lightseagreen; */
}

#data-form-section::after{
  /* size */
  width: 100%;
  height: 100%;

  /* position */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* to not affect contents color place pseudo element behind content */
  z-index: -1;

  /* design */
  content: '';
  background-image: url('https://raw.githubusercontent.com/08Aristodemus24/project-seraphim/master/svelte-client-side/src/assets/mediafiles/journey-painting-wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(75%);
}

.data-form-content{
  /* margin */
  margin-top: clamp(3.5rem, 6.5vw, 6.5rem);

  /* alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* design */
  /* outline: 3px solid purple; */
}

.form-container{
  /* design */
  /* outline: 1px solid yellow; */

  /* size */
  /* width: 100%; */

  /* spacing */
  margin-block: 1rem;
}

.form{
  /* display */
  display: grid;

  /* size */
  /* simply means we will have 1, 2, or n number of columns */
  /* if the number of columns will be undetermined */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 1rem;

  /* alignment */
  /* align-items: center;
  justify-content: center; */
  
  /* spacing */
  row-gap: 1.5rem;
  column-gap: 1.5rem;

  /* border: 1px solid saddlebrown; */
}

div.fname-container{
  /* border: 1px solid rebeccapurple; */
}

div.uname-container{
  /* width: 100%; */
  /* border: 1px solid rebeccapurple; */
  grid-column-start: 1;
  grid-column-end: 2;
}

div.lname-container{
  /* border: 1px solid rebeccapurple; */
}

div.mobile-num-container{
  /* border: 1px solid rebeccapurple; */
}

div.password-credential-container{
  /* border: 1px solid rebeccapurple; */
  grid-column: 2 / 3
}

div.email-credential-container,
div.bio-container,
div.image-upload-container{
  grid-column: 1 / 3;
}

div.member-role-container{
  /* width: 100%; */
  /* border: 1px solid rebeccapurple; */
}

div.country-code-container{
  /* border: 1px solid rebeccapurple; */
}

div.submit-btn-container{
  grid-column: 1 / 3;

  justify-self: center;

  border: 1px solid rebeccapurple;
}



/* for login mode */
.form.signup{
  grid-template-columns: 1fr;
}

div .form.login .uname-container,
div .form.login .password-credential-container{
  grid-column: 1 / 2;
}



.sharp-minimal label[class*="name-label"]{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal input[class*="name-field"]{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  background-color: transparent;
  color: var(--primary-color);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.sharp-minimal input[class*="name-field"]::placeholder{
  color: var(--tertiary-color);
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.sharp-minimal input[class*="name-field"]:-ms-input-placeholder{
  color: var(--tertiary-color);
}

/* Microsoft Edge */
.sharp-minimal input[class*="name-field"]::-ms-input-placeholder{
  color: var(--tertiary-color);
}



.sharp-minimal [class*=credential-input-label]{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal [class*=credential-input-field]{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  background-color: transparent;
  color: var(--primary-color);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}


/* Chrome, Firefox, Opera, Safari 10.1+ */
[class*=credential-input-field]::placeholder{
  color: var(--tertiary-color);
  opacity: 1; /* Firefox */
  
}

/* Internet Explorer 10-11 */
[class*=credential-input-field]:-ms-input-placeholder{
  color: var(--tertiary-color);
}

/* Microsoft Edge */
[class*=credential-input-field]::-ms-input-placeholder{
  color: var(--tertiary-color);
}



.sharp-minimal .country-code-label,
.sharp-minimal .member-role-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .country-code-field,
.sharp-minimal .member-role-field{
  /* design */
  background-color: transparent;
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-size: clamp(12px, 1vw, 1rem);
  font-weight: 300;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);
  
  /* size */
  width: 100%;

  /* display */
  display: block;
}

.sharp-minimal .country-code-field option,
.sharp-minimal .member-role-field option{
  /* design */
  background-color: rgba(255, 0, 0, 0);
  color: black;
}



.sharp-minimal .mobile-num-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .mobile-num-field{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  background-color: transparent;
  color: var(--primary-color);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.sharp-minimal .mobile-num-field::placeholder{
  color: var(--tertiary-color);
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.sharp-minimal .mobile-num-field:-ms-input-placeholder{
  color: var(--tertiary-color);
}

/* Microsoft Edge */
.sharp-minimal .mobile-num-field::-ms-input-placeholder{
  color: var(--tertiary-color);
}



.sharp-minimal .message-label,
.sharp-minimal .bio-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .message-field,
.sharp-minimal .bio-field{
  /* design */
  background-color: transparent;
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;

  /* functionality */
  resize: none;
}

.sharp-minimal .message-field::placeholder,
.sharp-minimal .bio-field::placeholder{
  color: var(--tertiary-color);
  opacity: 1;            
}

.sharp-minimal .message-field:-ms-input-placeholder,
.sharp-minimal .bio-field:-ms-input-placeholder{
  color: var(--tertiary-color);                
}

.sharp-minimal .message-field::-ms-input-placeholder,
.sharp-minimal .bio-field::-ms-input-placeholder{
  color: var(--tertiary-color);                
}



.sharp-minimal .model-name-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .model-name-field{
  /* design */
  color: var(--primary-color);
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}

.sharp-minimal .model-name-field option{
  /* design */
  background-color: rgba(255, 0, 0, 0);
  color: black;
}



.sharp-minimal .prompt-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .prompt-field{
  /* design */
  background-color: transparent;
  color: var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}

.sharp-minimal .prompt-field::placeholder{
  color: var(--tertiary-color);
  opacity: 1;            
}

.sharp-minimal .prompt-field:-ms-input-placeholder{
  color: var(--tertiary-color);                
}

.sharp-minimal .prompt-field::-ms-input-placeholder{
  color: var(--tertiary-color);                
}



.sharp-minimal .seq-len-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .seq-len-field{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  background-color: transparent;
  color: var(--primary-color);
  font-size: clamp(12px, 1vw, 1rem);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-color);

  /* size */
  width: 100%;

  /* display */
  display: block;
}

.sharp-minimal .seq-len-field::placeholder{
  color: var(--tertiary-color);
  opacity: 1;            
}

.sharp-minimal .seq-len-field:-ms-input-placeholder{
  color: var(--tertiary-color);                
}

.sharp-minimal .seq-len-field::-ms-input-placeholder{
  color: var(--tertiary-color);                
}



.sharp-minimal .temp-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);
  /* outline: 1px solid brown; */

  /* spacing */
  margin-block: 1em;

  /* display */
  display: block;
}

.sharp-minimal .temp-field{
  /* size */
  width: 100%;

  /* design */
  background-color: var(--primary-color);
  -webkit-appearance: none;
}

.sharp-minimal .temp-field::-webkit-slider-runnable-track{
  /* size */
  height: 0.5px;

  /* design */
  cursor: pointer;
  border-radius: 0px;
  border: 0px solid black;
  box-shadow: none;
  appearance: none;
}

.sharp-minimal .temp-field::-ms-track{
  /* size */
  height: 1px;

  /* design */
  cursor: pointer;
  border-radius: 0px;
  border: 0px solid black;
  box-shadow: none;
  appearance: none;
}

.sharp-minimal .temp-field::-webkit-slider-thumb{
  /* size */
  height: 20px;
  width: 3px;

  /* design */
  box-shadow: none;
  border: 0px solid black;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: -10px;
  -webkit-appearance: none;
}

.sharp-minimal .temp-field::-ms-thumb{
  /* size */
  height: 20px;
  width: 3px;

  /* design */
  box-shadow: none;
  border: 0px solid black;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: -10px;
  -webkit-appearance: none;
}



.image-upload-container{
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  /* border: 1px solid red; */

  /* spacing */
  /* put padding of 5px since outlien offset 
  of 5px for image is specified */
  padding: 5px;
}

.sharp-minimal .uploaded-image{
  /* design */
  border: 1px dashed var(--primary-color);
  padding: 5px;

  /* size */
  height: clamp(100px, 10.75vw, 300px);
  width: clamp(100px, 10.75vw, 300px);

  /* display */
  display: block;
}

.image-upload-field-wrapper{
  /* design */
  /* border: 2px solid black; */

  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.sharp-minimal .image-upload-label{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);
  /* outline: 1px solid yellow; */

  /* spacing */
  margin-block: 1em;
  width: max-content;

  /* display */
  display: block;
}

.sharp-minimal .image-upload-field{
  /* design */
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);
  text-align: center;
  /* outline: 1px solid greenyellow; */

  /* display */
  display: flex;
  
  padding: 0.5em;
}

.sharp-minimal .image-upload-field::-webkit-file-upload-button{
  /* design */
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  -webkit-user-select: none;
  
  /* size */
  border: 1px solid var(--primary-color);
  padding: .5em 1.5em;
  margin-right: 2.5rem;
  
  /* display */
  display: inline-block;

  /* transition */
  transition-property: background-color, color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out;
}

.sharp-minimal .image-upload-field::-webkit-file-upload-button:hover{
  /* design */
  background-color: var(--primary-color);
  color: var(--secondary-color);
}



.sharp-minimal .submit-btn{
  /* design */
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 1rem);
  color: var(--primary-color);
  border: none;
  outline: 1px solid var(--primary-color);
  
  /* size */
  padding: .5em 5em;

  /* animation */
  transition-property: background-color, color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: ease-in-out, ease-in-out;
}

.sharp-minimal .submit-btn:hover{
  /* design */
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.alert{
  /* position */
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 20;

  /* design */
  opacity: 0%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.377);

  /* transition */
  transition: 
      opacity 0.25s ease-in-out,
      visibility 0.25s ease-in-out;
}

.alert.show{
  opacity: 100%;
  visibility: visible;
}

.alert-wrapper{
  /* position */
  position: absolute;
  top: 0;
  inset-inline: 0;
  margin-inline: auto;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* size */
  height: 12.5%;
  width: max(10rem, 25%);
  padding: 1rem;

  /* design */
  color: black;
  text-align: center;
  font-size: clamp(10px, 1vw, 1rem);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  /* outline: 1px solid; */
}



/* LANDING SECTION */
#landing-section{
  /* size for each section*/
  /* take into account navbar in data-form section */
  /* min-height: calc(100vh - clamp(3.5rem, 6.5vw, 6.5rem)); */
  min-height: 100vh;

  /* position */
  position: relative;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* design */
  background-color: var(--primary-background);
  /* border: 2px solid lightseagreen; */
}

.landing-content{
  /* alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* design */
  /* outline: 3px solid purple; */
}

.landing-content h1{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--primary-color);
}



/* ABOUT SECTION */
#about-section,
#store-section,
#joinus-section,
#faq-section,
#contact-section{
  /* size for each section*/
  /* take into account navbar in data-form section */
  /* min-height: calc(100vh - clamp(3.5rem, 6.5vw, 6.5rem)); */
  min-height: 100vh;

  /* position */
  position: relative;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* design */
  background-color: var(--primary-background);
  /* border: 2px solid lightseagreen; */
}

.about-content,
.store-content,
.joinus-content,
.faq-content,
.contact-content{
  /* alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* design */
  /* outline: 3px solid purple; */
}

.about-content h1,
.store-content h1,
.joinus-content h1,
.faq-content h1,
.contact-content h1{
  /* design */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  color: var(--primary-color);
}



/* FOOTER */
.footer-container{
  /* size */
  width: 100%;

  /* design */
  /* outline: 1px solid gainsboro; */
}

.footer-content{
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* spacing */

}

.wrapper{
  /* size */
  /* height: clamp(4rem, 6.5vw, 6.5rem); */
  flex-grow: 1;

  /* design */
  /* border: 3px solid green; */

  /* spacing */
  margin-block: 1rem;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.footer-credits{
  /* design */
  color: var(--primary-color);
  text-align: center;
  font-size: clamp(10px, 1vw, 1rem);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  /* outline: 1px solid steelblue; */

  /* size */
  padding-inline: 1em;
  width: fit-content;
}

.footer-end{
  /* design */
  color: var(--primary-color);
  text-align: center;
  font-size: clamp(10px, 1vw, 1rem);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  /* outline: 1px solid steelblue; */

  /* size */
  width: fit-content;
}

@media (width < 862px) {
  /* form fields containers */
  div.uname-container,
  div.password-credential-container,
  div.email-credential-container,
  div.bio-container,
  div.image-upload-container,
  div.submit-btn-container{
    grid-column: auto;
    /* grid-column: 1 / 2; */
  }
}